.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; // Centre le contenu du footer
    align-items: center;
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    height: 200px;
    width: 100%;

    img {
        margin-bottom: 20px;
    }
  }