@import "https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #000;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

#root, .app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh; // Assure que l'application couvre toute la hauteur de la vue
}

.main-content {
  flex: 1; // Permet au contenu principal de remplir l'espace restant
  padding: 20px 60px;
}