.header {
    padding: 20px 60px;
  
    .navbar {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
  
    .navbar ul {
      display: flex;
      justify-content: flex-end;
      gap: 20px;
      font-weight: 600;
    }
}