// COLORS 
$primary : #ff6060;
$secondary :#C4C4C4;
$default : #000;

// TYPOGRAPHY
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$font-primary: 'Montserrat', sans-serif;
